<app-nav></app-nav>
<section class="date-form-container">
    <form [formGroup]="form" (submit)="searchImage()">
        <label >Buscar por fecha:</label>
        <input type="date" min="2012-08-07" formControlName="dateT">
        <button class="button-pink-not-border"type="submit">Buscar</button>
    </form>
</section>
<ng-container *ngIf="!flag">
    <ng-container *ngIf="items">
        <section class="items-container">
            <ng-container  *ngFor="let item of items">
                <div>
                    <h2>{{item.title}}</h2>
                    <!-- <a href="{{item.img_src}}" target="_blank"> -->
                        <img src="{{item.url}}" alt="" (click)="openDialog(item)">
                    <!-- </a> -->
                    <p class="pink-element">{{item.date | time}}</p>
                </div>
            </ng-container>
            
        </section>
    </ng-container>
</ng-container>
<ng-container *ngIf="flag">
    
    <app-error-search></app-error-search>
</ng-container>
