<app-nav></app-nav>
<section class="main-container">
    <div>
        <h1>NASA <span>API</span></h1>
        <p>Lo que se busca con este proyecto es poder ver diversas imágenes junto con toda su información, desde las que transmite el Rovert en Marte hasta la imagen del día que nos regala la NASA</p>
        <a routerLink="../robert"> 
            <img src="assets/img/project.png" width="100px" alt="">
            ROVER
        </a> 
        <a routerLink="../apod">
            <img src="assets/img/galaxy.png" width="100px" alt="">
            APOD
        </a> 
    </div>
    <div>
        <img class="img-decoration" src="assets/img/undraw_outer_space_re_u9vd.svg" alt="">
    </div>
</section>